/*TODO GTB-3: * 有合理的使用flex*/
/*TODO GTB-3: * 页面样式存在些问题*/
/*TODO GTB-4: * class命名比较符合语义*/

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #343a40;
  background-color: #e8e9e8;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  height: 75%;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}
.head-information {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: -50px auto auto auto;
}

.sub-title {
  color: #e55b50;
}

.about-me {
  margin: auto;
}

.education {
  margin-left: 103px;
  display: flex;
  flex-direction: column;
}

.education-container {
  display: flex;
  margin-left: 50px;
  align-items: flex-start;
}

.education-detail {
  background-color: #f8f9fa;
  width: 90%;
  margin-left: 2%;
  padding-left: 2%;
}

.head-information {
  display: flex;
  justify-content: center;
  text-align: center;
}

.first-heading {
  font-size: 30px;
}
